@import './variables.scss';

.canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid $color-black;
  background-color: $color-white;
}