@import './variables.scss';

.canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid $color-black;
  background-color: $color-white;
}

.modal {
  main {
    margin: 10px 0;

    input {
      height: 25px;
    }
  }

  footer button {
    padding: 5px;
    margin-top: 5px;
  }
}